*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#bard{
    padding: 20px;
    margin-left: 30px;
    height: 400px;
    width: 500px;
    /* background-color: blueviolet; */
    background: url('./Comilla.png');
    background-position: center;
    background-size: cover;
    border-radius: 25px 20px 15px 10px;
    
}

body{

    background: linear-gradient(90deg, red, blue, yellow);
    background-repeat: no-repeat;
  
    /* background-size: contain; */
    /* background-size: cover; */
    /* background-size: 500px 500px; */
    /* background: linear-gradient(45deg, blue, red); */
    /* background: linear-gradient(to left, green, blue, yellow); */
    height: 100vh;
    /* background: radial-gradient(conic, green, blue); */
    /* background: conic gradient (red, yellow, green); */
    /* background-color: aqua; */
    /* background-image: url(r.jpg); */
}